:root {
    --Yellow: #FFD15B;
    --Grey: #7A7A7A;
    --Black: #1B1B1B;
}
ul{
    padding: unset;
}
.dropdown-toggle::after {

    display: none;

}

* {
    margin: 0;
    padding: 0;
}

.corp {
    background: #EDEDED;

}
.corp {
    max-width: 1440px !important;
    background: #EDEDED;
}
/* @media (max-width: 1320px) { 

    .corp {
        max-width: 1440px !important;
        background: #EDEDED;
    }
} */
h2 {
    color: #000;
    font-family: Anton;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: var(--Grey);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}

p {
    color: var(--Black);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: unset;
}

header {
    background-image: url(../assets/backroung.png);
    height: 666px;
    margin-left: -12px;
    width: 101.63%;

}

.logo {
    margin-left: 69px;
    margin-top: 30px;
    z-index: 2;

}

.backroundheader {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    height: 667px;
    /* width: 1320px; */
    margin: auto;
}


.cardrecipes {
    padding-bottom: 61px;
}

/* -------------------------------Section Cherchez---------------------------------- */
.titre {
    color: var(--Yellow);
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    font-family: Anton;
    text-transform: uppercase;
    line-height: normal;
    margin-top: 168px;
    margin-left: 275px;
    margin-right: 275px;
    text-align: center;
}
.barrederecherche {
    width: 954px;
    height: 72px;

}

.divrecherche {
    /* margin-left: 243px;
    margin-right: 243px; */
    position: relative;
    margin-top: 29px;
}

.divrecherche button {
    position: absolute;
    top: 10px;
    left: 1120px;
    width: 51px;
    height: 52px;
    border: none;
    background-color: #1B1B1B;
    border-radius: 10px;
}

.divrecherche input {
    border-radius: 11px;
    background: #FFF;
}

.toggle {
    text-align: center;
    display: inline-flex;
    padding: 17px 0;
    align-items: center;
    gap: 63px;
    border-radius: 11px;
    border: none;
    width: 181px;
    padding-left: 20px;
}

.barre {
    text-align: center;
    display: inline-flex;
    padding: 17px 16px;
    align-items: center;
    gap: 63px;
    border-radius: 11px;
    background: #FFF;
}

.Ingredient {
    margin-right: 66px;
}

.Appareils {
    margin-right: 64px;
}

.filtrerecipes {
    margin-top: 20px;
    margin-bottom: 50px;
}

.dropdown {
    position: relative;
}

.fleche1 {
    position: absolute;
    right: 80px;
    top: 25px;
}

.fleche2 {
    position: absolute;
    right: 20px;
    top: 25px;
}

.recherche {
    margin-right: 47px;
    display: inline-flex;
    /* padding: 17px 18px; */
    padding: 17px 18px;
    text-wrap: nowrap;
}

.selectrecherche {
    width: 207px;
    border-radius: 10px;
    background-color: var(--Yellow);
    margin-bottom: 47px;
    margin-left: 57px;
    position: relative;
}

.selectrecherche button {
    border: none;
    background: none;
    position: absolute;
    left: 173px;
}

.divtotalrecette {
    margin-right: 30px;

}

.totalrecette {
    font-family: Anton;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.dropdown-menu  ul {
    list-style-type: none;
}
/* -------------------------------Section Recettes---------------------------------- */
.sectioncarterecette {
    display: flex;
    justify-content: center;
}

.card {
    width: 380px;
    padding-bottom: 61px;
    height: 731px;
    border-radius: 21px;
    border: none;
}

.card img {
    width: 380px;
    height: 253px;
    object-fit: cover;
    border-radius: 21px 21px 0px 0px;
}

.divingrédient {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.divtexte,
.divtexteingrédient {
    padding-right: 25px;
    padding-left: 25px;
}

.pQuantité {
    color: var(--Grey);
}

.pIngredient {
    font-weight: 500;
}

.divtexte h2 {
    margin-top: 32px;
    margin-bottom: 29px
}

.divtexterecette h3,
.divtexteingrédient h3 {
    margin-bottom: 15px;
}

.divingrédientQuantité {
    margin-bottom: 21px;
}

.divtexterecette {
    margin-bottom: 32px;
}

.divtexterecette p {

    max-width: 330px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 75px;
    text-overflow: ellipsis;
}

.divimg {
    position: relative;
}

.divimg p {
    position: absolute;
    left: 77%;
    top: 6%;
    padding: 5px 15px;
    border-radius: 14px;
    background-color: var(--Yellow);
    font-family: Manrope;
    font-size: 12px;

    font-weight: 400;

}



/* -------------------------------Modife fait avec boucle foreach---------------------------------- */
.ulingre , .ulapp , .ulus {
    height: 315px;
    width: 195px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 24px;
}
.dropdown-menu ul a:hover {
    background-color: var(--Yellow)
}

.liinput input {
    width: 163px;
height: 37px;
margin-left: 14px;
border-color: #C6C6C6!important;
}
.liinput input:focus-visible{
    outline: none;
}
.selecteListe {
    margin-top: 24px;
    background-color: var(--Yellow)
}
.liinput{
    position: relative;
}
.dropdown-menu .loupe {
    position: absolute;
    top: 13px;
    left: 155px;
}
#site-searchIngredient::before{
    color: gray;
}
.rechercheIngredient::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: absolute;
    left: 125px;
    height: 6px;
    width: 6px;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 3 3' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0.25' y1='2.75' x2='2.75' y2='0.25' stroke='grey' stroke-width='0.25'/%3e%3cline x1='0.25' y1='0.25' x2='2.75' y2='2.75' stroke='grey' stroke-width='0.25'/%3e%3c/svg%3e");
}
.barrederecherche::-webkit-search-cancel-button {
    -webkit-appearance: none;
    position: absolute;
    left: 850px;
    height: 12px;
    width: 12px;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 6 6' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0.5' y1='5.5' x2='5.5' y2='0.5' stroke='grey' stroke-width='0.5'/%3e%3cline x1='0.5' y1='0.5' x2='5.5' y2='5.5' stroke='grey' stroke-width='0.5'/%3e%3c/svg%3e");
}
#site-search::placeholder{
    color: var(--Grey);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#site-search{
    padding-left: 30px;
}
.parentNode a {
    cursor: auto;
}
.parentNode button {
    border: none;
    width: 17px;
    position: absolute;
    top: 7%;
    left: 87%;
    background: none;
height: 17px;

}

.parentNode {
    position: relative;
}